[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Diplomka-Central
Exec=/opt/Diplomka-Central/bin/Diplomka-Central
Icon=Diplomka-Central64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
