[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Diplomka
Exec=/usr/bin/invoker --type=d -s /opt/Diplomka/bin/Diplomka
Icon=/usr/share/icons/hicolor/80x80/apps/Diplomka80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
